<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ace.core.persistence.sys.mapper.OrganizationMapper">

    <resultMap id="BaseResultMap" type="com.ace.core.persistence.sys.entity.Organization" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="short_name" property="shortName" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="weight" property="weight" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
        <result column="manager" property="manager" jdbcType="VARCHAR" />
        <result column="assistant_manager" property="assistantManager" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="fax" property="fax" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="enabled" property="enabled" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
        <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
        <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" typeHandler="com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, short_name, category, icon, weight, parent_id, parent_ids, manager, assistant_manager,
        telephone, fax, mobile, description, enabled, address, create_user_id, create_user_name,
        modify_user_id, modify_user_name, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from sys_organization
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from sys_organization
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ace.core.persistence.sys.entity.Organization" >
        insert into sys_organization
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="shortName != null" >
                short_name,
            </if>
            <if test="category != null" >
                category,
            </if>
            <if test="icon != null" >
                icon,
            </if>
            <if test="weight != null" >
                weight,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
            <if test="parentIds != null" >
                parent_ids,
            </if>
            <if test="manager != null" >
                manager,
            </if>
            <if test="assistantManager != null" >
                assistant_manager,
            </if>
            <if test="telephone != null" >
                telephone,
            </if>
            <if test="fax != null" >
                fax,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="enabled != null" >
                enabled,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="createUserName != null" >
                create_user_name,
            </if>
            <if test="modifyUserId != null" >
                modify_user_id,
            </if>
            <if test="modifyUserName != null" >
                modify_user_name,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null" >
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="category != null" >
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="icon != null" >
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="weight != null" >
                #{weight,jdbcType=INTEGER},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="parentIds != null" >
                #{parentIds,jdbcType=VARCHAR},
            </if>
            <if test="manager != null" >
                #{manager,jdbcType=VARCHAR},
            </if>
            <if test="assistantManager != null" >
                #{assistantManager,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null" >
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null" >
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null" >
                #{enabled,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createUserName != null" >
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserId != null" >
                #{modifyUserId,jdbcType=BIGINT},
            </if>
            <if test="modifyUserName != null" >
                #{modifyUserName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,typeHandler=com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,typeHandler=com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ace.core.persistence.sys.entity.Organization" >
        update sys_organization
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null" >
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="category != null" >
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="icon != null" >
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="weight != null" >
                weight = #{weight,jdbcType=INTEGER},
            </if>
            <if test="parentId != null" >
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="parentIds != null" >
                parent_ids = #{parentIds,jdbcType=VARCHAR},
            </if>
            <if test="manager != null" >
                manager = #{manager,jdbcType=VARCHAR},
            </if>
            <if test="assistantManager != null" >
                assistant_manager = #{assistantManager,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null" >
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null" >
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null" >
                enabled = #{enabled,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createUserName != null" >
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserId != null" >
                modify_user_id = #{modifyUserId,jdbcType=BIGINT},
            </if>
            <if test="modifyUserName != null" >
                modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,typeHandler=com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,typeHandler=com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ace.core.persistence.sys.entity.Organization" >
        update sys_organization
        set name = #{name,jdbcType=VARCHAR},
        short_name = #{shortName,jdbcType=VARCHAR},
        category = #{category,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        weight = #{weight,jdbcType=INTEGER},
        parent_id = #{parentId,jdbcType=BIGINT},
        parent_ids = #{parentIds,jdbcType=VARCHAR},
        manager = #{manager,jdbcType=VARCHAR},
        assistant_manager = #{assistantManager,jdbcType=VARCHAR},
        telephone = #{telephone,jdbcType=VARCHAR},
        fax = #{fax,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        enabled = #{enabled,jdbcType=INTEGER},
        address = #{address,jdbcType=VARCHAR},
        create_user_id = #{createUserId,jdbcType=BIGINT},
        create_user_name = #{createUserName,jdbcType=VARCHAR},
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
        create_time = #{createTime,typeHandler=com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler},
        modify_time = #{modifyTime,typeHandler=com.ace.commons.mybatis.type.JodaDateTimestampTypeHandler}
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>